<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Módulo responsável por referenciar o arquivo xml que é bsucado 
 * na pasta app/etc/NonComposerComponentRegistration.php
 * que registra um novo modulo no config.php
 * 
 * APÓS REGISTRAR, RODAR NO TERMINAL:"php bin/magento setup:upgrade"
 */
-->
<config xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="AcheiPneus_SalesReserved" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
